body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family:'Dancing+Script', cursive;
  font-size: 130%;
}
h1{
  color: #ffefa0;
  font-size: 5.625rem;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
}
h2{
  color: #11999E;
  font-family: 'Merriweather',serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Merriweather',serif;
}
p{
  line-height: 2;
}
hr{
  border-top-style: dotted #eaf6f6 6px;
  width: 4%;
  margin: 100px auto;
}

a{
  font-family: 'Merriweather',serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: gray;
}
.copyright{
  color: #ffffff;
}
.skill-row{
  width: 50%;
}
.top-cloud{
  position: absolute;
  right: 350px;
  top: 50px;
}
.bottom-cloud{
  height: 100px;
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-container{
  line-height: 2;
  background-color:lightskyblue;
  position: relative;
  padding: 100px;
}
.intro{
  width: 50%;
  margin: auto;
}
.middle-container{
  margin: 100px 0;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.contact-me{;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.bottom-container{
  background-color: #11999E;
  padding: 50px 0 20px;
}
.programmer{
  color: #ffefa0;
  font-size: 2.4rem;
  font-weight: normal;
}
.pro{
  text-decoration: underline;
}
.profile-img{
  height: 280px;
  width: 280px;
  border-radius: 100%;
}
.computer-img{
  width: 30%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}
.chillie-img{
  width: 30%;
  float: right;
  margin-left: 30px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.back{
  text-align: left;
}
.user-info{
  text-align: center;
}
